.wrapper {
  align-items: center;
  background-color: white;
  border-top: 1px solid;
  display: grid;
  grid-column-gap: var(--space-md);
  grid-template-columns: 3fr 1fr;
  list-style: none;
  padding: var(--space-md) 0 var(--space-md);
}

.wrapper.isFocus {
  grid-column: span 2;
}

.logoWrapper {
  justify-content: flex-end;
  display: flex;
}

.logo {
  object-fit: contain;
  object-position: right top;
  max-width: 12rem;
  height: 4rem;
}

.position {
  line-height: 1.5;
  list-style: none;
  margin-bottom: var(--space-sm);
}

.positionsWrapper {
  padding: 0;
}

.wrapper.isFocus .positionsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: var(--space-md);
}
