:root {
  /**
   * Base colors. Do not use directly.
   */
  --color-base-black: rgb(0, 0, 0);

  --color-base-purple-lighter: rgb(149, 117, 188);
  --color-base-purple: rgb(98, 66, 137);
  --color-base-purple-darker: rgb(47, 15, 86);

  --color-base-white: rgb(255, 255, 255);

  /**
   * Neutrals. Base colors, but can be used directly.
   */
  --color-neutral-100: rgb(229, 229, 229);
  --color-neutral-200: rgb(203, 203, 203);
  --color-neutral-300: rgb(177, 177, 177);
  --color-neutral-400: rgb(151, 151, 151);
  --color-neutral-500: rgb(125, 125, 125);
  --color-neutral-600: rgb(99, 99, 99);
  --color-neutral-700: rgb(63, 63, 63);
  --color-neutral-800: rgb(37, 37, 37);
  --color-neutral-900: rgb(11, 11, 11);

  /**
   * Descriptive colors. Add as necessary, derive from bases.
   */
  --color-text: var(--color-base-black);

  --color-link: var(--color-base-purple);
  --color-link-visited: var(--color-base-purple-lighter);
  --color-link-active: var(--color-base-purple-darker);

  --color-brand-primary: var(--color-base-purple);
  --color-brand-primary-darker: var(--color-base-purple-darker);
  --color-brand-primary-lighter: var(--color-base-purple-lighter);
}

:global(.DarkSurface) {
  /**
   * Colors used when on top of a dark background.
   */
  --color-text: var(--color-base-white);

  --color-link: var(--color-base-white);
  --color-link-visited: var(--color-base-white);
  --color-link-active: var(--color-base-white);

  --color-brand-primary: var(--color-base-white);
  --color-brand-primary-darker: var(--color-base-white);
  --color-brand-primary-lighter: var(--color-base-white);
}
